<%- include ('../partials/head')-%>
<%- include ('../partials/navbar')-%>

<section class="inicio">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1553830591-304c6f7c2e5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-outline-light" href="/categorias" role="button">Ver todo</a>
            </div>          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1451522977452-041601b22181?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-outline-light" href="/categorias" role="button">Ver todo</a>
            </div>          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1646902812004-8e86e6daf3a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a class="btn btn-outline-light" href="/categorias" role="button">Ver todo</a>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="container-fluid text-center my-5 pt-3">
    <h4>Arma tu outfit</h3>
    <h2>Primavera para Lucirte</h2>
    <p>Estos son los mas elegidos para vos</p>
    <div class="row justify-content-evenly row-cols-4 g-4 mt-2">

    <% const primProducts = products.filter(product => product.season === 'primavera').slice(0, 4); %>
    <% primProducts.forEach((product) => { %>

        <div class="col ps-0 pe-0 card" style="width: 18rem;">
            <img src="<%= product.image %>" class="card-img-top" alt="product image">
            <div class="card-body">
                <p class="card-text"><b><%= product.name %></b></p>
                <p class="card-text">Season: <%= product.season %></p>
            </div>
        </div>

    <% }); %>

    </div>

</section>



<section class="container-fluid px-5 my-5 py-2">
    <h2 class="text-center my-4">Productos destacados</h2>
    <div class="row justify-content-evenly row-cols-3 g-4">

        <% const limitProducts = products.slice(0, 8); %>
        <% limitProducts.forEach((pro)=>{%>

        <div class="col ps-0 pe-0 card" style="width: 20rem;">
            <img src="<%= pro.image %>" class="card-img-top" alt="Product image">
            <div class="card-body">
                <h5 class="card-title"><%= pro.name %></h5>
                <p class="card-text"><%= pro.season %></p>
                <p>Precio: $<%= pro.price %></p>
                <a href="#" class="btn btn-secondary">Agregar al carrito</a>
            </div>
        </div>

        <%})%>

    </div>
</section>





<%- include ('../partials/footer')-%>
